html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body {
    height: 100%;
    margin: 0;
    line-height: 1.5;
    color: #121212;
}
textarea,
input,
button {
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    line-height: 1.5;
    margin: 0;
}
button {
    color: hsl(224, 98%, 58%);
    font-weight: 500;
}

textarea:hover,
input:hover,
button:hover {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
    transform: translateY(1px);
}

#contact h1 {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
#contact h1 form {
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
}
#contact h1 form button {
    box-shadow: none;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0;
}
#contact h1 form button[value="true"] {
    color: #a4a4a4;
}
#contact h1 form button[value="true"]:hover,
#contact h1 form button[value="false"] {
    color: #eeb004;
}

form[action$="destroy"] button {
    color: #f44250;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#app {
    display: flex;
    height: 100%;
    width: 100%;
}

#sidebar {
    width: 22rem;
    background-color: #f7f7f7;
    border-right: solid 1px #e3e3e3;
    display: flex;
    flex-direction: column;
}

#sidebar > * {
    padding-left: 2rem;
    padding-right: 2rem;
}

#sidebar h1 {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1rem 2rem;
    border-top: 1px solid #e3e3e3;
    order: 1;
    line-height: 1;
}

#sidebar h1::before {
    content: url("data:image/svg+xml,%3Csvg width='30' height='28' viewBox='0 0 30 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_18_11)'%3E%3Cpath d='M29.4578 6.31037C29.4578 6.31037 19.8795 -0.721184 12.4699 0.901481L11.9277 1.08178C10.8434 1.44237 9.93976 1.98326 9.39759 2.70444L9.03615 3.24533L6.3253 7.93303L11.0241 8.83451C13.012 10.0966 15.5422 10.6375 17.8916 10.0966L26.2048 11.7193L29.4578 6.31037Z' fill='%2376B3E1'/%3E%3Cpath opacity='0.3' d='M29.4578 6.31037C29.4578 6.31037 19.8795 -0.721184 12.4699 0.901481L11.9277 1.08178C10.8434 1.44237 9.93976 1.98326 9.39759 2.70444L9.03615 3.24533L6.3253 7.93303L11.0241 8.83451C13.012 10.0966 15.5422 10.6375 17.8916 10.0966L26.2048 11.7193L29.4578 6.31037Z' fill='url(%23paint0_linear_18_11)'/%3E%3Cpath d='M9.39759 6.31037L8.6747 6.49066C5.60241 7.39214 4.69879 10.2769 6.3253 12.801C8.13253 15.1449 11.9277 16.407 15 15.5055L26.2048 11.7193C26.2048 11.7193 16.6265 4.6877 9.39759 6.31037Z' fill='%23518AC8'/%3E%3Cpath opacity='0.3' d='M9.39759 6.31037L8.6747 6.49066C5.60241 7.39214 4.69879 10.2769 6.3253 12.801C8.13253 15.1449 11.9277 16.407 15 15.5055L26.2048 11.7193C26.2048 11.7193 16.6265 4.6877 9.39759 6.31037Z' fill='url(%23paint1_linear_18_11)'/%3E%3Cpath d='M24.2169 14.4237C23.2051 13.1626 21.839 12.2316 20.2935 11.7498C18.7481 11.2679 17.0937 11.2573 15.5422 11.7193L4.33735 15.3252L0.722891 21.6355L20.9639 25.0612L24.5783 18.5705C25.3012 17.3084 25.1205 15.8661 24.2169 14.4237Z' fill='url(%23paint2_linear_18_11)'/%3E%3Cpath d='M20.6024 20.7341C19.5906 19.473 18.2245 18.5419 16.6791 18.0601C15.1336 17.5783 13.4792 17.5677 11.9277 18.0296L0.722891 21.6355C0.722891 21.6355 10.3012 28.8474 17.7108 27.0444L18.253 26.8641C21.3253 25.9627 22.4096 23.0779 20.6024 20.7341Z' fill='url(%23paint3_linear_18_11)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_18_11' x1='4.96988' y1='0.540889' x2='27.4495' y2='11.4906' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.1' stop-color='%2376B3E1'/%3E%3Cstop offset='0.3' stop-color='%23DCF2FD'/%3E%3Cstop offset='1' stop-color='%2376B3E1'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_18_11' x1='17.3133' y1='5.87766' x2='13.3905' y2='18.9723' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2376B3E1'/%3E%3Cstop offset='0.5' stop-color='%234377BB'/%3E%3Cstop offset='1' stop-color='%231F3B77'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_18_11' x1='3.3253' y1='11.575' x2='26.0443' y2='27.0583' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23315AA9'/%3E%3Cstop offset='0.5' stop-color='%23518AC8'/%3E%3Cstop offset='1' stop-color='%23315AA9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_18_11' x1='13.5904' y1='13.4321' x2='4.44996' y2='47.0322' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234377BB'/%3E%3Cstop offset='0.5' stop-color='%231A336B'/%3E%3Cstop offset='1' stop-color='%231A336B'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_18_11'%3E%3Crect width='30' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    margin-right: 0.5rem;
    position: relative;
    top: 1px;
}

#sidebar > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e3e3e3;
}

#sidebar > div form {
    position: relative;
}

#sidebar > div form input[type="search"] {
    width: 100%;
    padding-left: 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0.625rem 0.75rem;
    background-size: 1rem;
    position: relative;
}

#sidebar > div form input[type="search"].loading {
    background-image: none;
}

#search-spinner {
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
    animation: spin 1s infinite linear;
    position: absolute;
    left: 0.625rem;
    top: 0.75rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#sidebar nav {
    flex: 1;
    overflow: auto;
    padding-top: 1rem;
}

#sidebar nav a span {
    float: right;
    color: #eeb004;
}
#sidebar nav a.active span {
    color: inherit;
}

i {
    color: #818181;
}
#sidebar nav .active i {
    color: inherit;
}

#sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#sidebar li {
    margin: 0.25rem 0;
}

#sidebar nav a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    white-space: pre;
    padding: 0.5rem;
    border-radius: 8px;
    color: inherit;
    text-decoration: none;
    gap: 1rem;
}

#sidebar nav a:hover {
    background: #e3e3e3;
}

#sidebar nav a.active {
    background: hsl(224, 98%, 58%);
    color: white;
}

#sidebar nav a.pending {
    color: hsl(224, 98%, 58%);
}

#detail {
    flex: 1;
    padding: 2rem 4rem;
    width: 100%;
}

#detail.loading {
    opacity: 0.25;
    transition: opacity 200ms;
    transition-delay: 200ms;
}

#contact {
    max-width: 40rem;
    display: flex;
}

#contact h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
}

#contact h1 + p {
    margin: 0;
}

#contact h1 + p + p {
    white-space: break-spaces;
}

#contact h1:focus {
    outline: none;
    color: hsl(224, 98%, 58%);
}

#contact a[href*="bsky"] {
    display: flex;
    font-size: 1.5rem;
    color: hsl(224, 98%, 58%);
    text-decoration: none;
}
#contact a[href*="bsky"]:hover {
    text-decoration: underline;
}

#contact img {
    width: 12rem;
    height: 12rem;
    background: #c8c8c8;
    margin-right: 2rem;
    border-radius: 1.5rem;
    object-fit: cover;
}

#contact h1 ~ div {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
}

#contact-form {
    display: flex;
    max-width: 40rem;
    flex-direction: column;
    gap: 1rem;
}
#contact-form > p:first-child {
    margin: 0;
    padding: 0;
}
#contact-form > p:first-child > :nth-child(2) {
    margin-right: 1rem;
}
#contact-form > p:first-child,
#contact-form label {
    display: flex;
}
#contact-form p:first-child span,
#contact-form label span {
    width: 8rem;
}
#contact-form p:first-child input,
#contact-form label input,
#contact-form label textarea {
    flex-grow: 2;
}

#contact-form-avatar {
    margin-right: 2rem;
}

#contact-form-avatar img {
    width: 12rem;
    height: 12rem;
    background: hsla(0, 0%, 0%, 0.2);
    border-radius: 1rem;
}

#contact-form-avatar input {
    box-sizing: border-box;
    width: 100%;
}

#contact-form p:last-child {
    display: flex;
    gap: 0.5rem;
    margin: 0 0 0 8rem;
}

#contact-form p:last-child button[type="button"] {
    color: inherit;
}

#zero-state {
    margin: 2rem auto;
    text-align: center;
    color: #818181;
}

#zero-state a {
    color: inherit;
}

#zero-state a:hover {
    color: #121212;
}

#zero-state:before {
    display: block;
    margin-bottom: 0.5rem;
    content: url("data:image/svg+xml,%3Csvg width='64' height='60' viewBox='0 0 64 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath d='M62.6506 13.7927C62.6506 13.7927 42.3325 -1.58403 26.5639 2.00902C26.1012 2.12492 25.6 2.24082 25.1759 2.39536C22.747 3.16806 20.9349 4.52028 19.8169 6.14295C19.5855 6.45203 19.4313 6.79974 19.2386 7.10882L13.4169 17.038L23.4795 19.0084C27.4506 21.8674 33.041 23.065 37.8217 21.8287L55.7494 25.3445L62.6506 13.7927Z' fill='%23BBBDBF'/%3E%3Cpath opacity='0.29' d='M62.6506 13.7927C62.6506 13.7927 42.3325 -1.58403 26.5639 2.00902C26.1012 2.12492 25.6 2.24082 25.1759 2.39536C22.747 3.16806 20.9349 4.52028 19.8169 6.14295C19.5855 6.45203 19.4313 6.79974 19.2386 7.10882L13.4169 17.038L23.4795 19.0084C27.4506 21.8674 33.041 23.065 37.8217 21.8287L55.7494 25.3445L62.6506 13.7927Z' fill='url(%23paint0_linear_18_18)'/%3E%3Cpath d='M19.6627 13.5995C19.2 13.7154 18.6988 13.8313 18.2747 13.9858C11.8361 16.0721 9.63855 22.0992 13.3398 27.3921C17.041 32.6851 25.253 35.3123 31.6916 33.226L55.7494 25.4218C55.7494 25.3831 35.4313 10.0064 19.6627 13.5995Z' fill='%23929497'/%3E%3Cpath opacity='0.34' d='M19.6627 13.5995C19.2 13.7154 18.6988 13.8313 18.2747 13.9858C11.8361 16.0721 9.63855 22.0992 13.3398 27.3921C17.041 32.6851 25.253 35.3123 31.6916 33.226L55.7494 25.4218C55.7494 25.3831 35.4313 10.0064 19.6627 13.5995Z' fill='url(%23paint1_linear_18_18)'/%3E%3Cpath d='M51.3157 30.9852C47.6145 25.6922 39.4024 23.065 32.9639 25.1513L8.90602 32.9556L1.3494 46.4778L44.3759 53.857L52.0867 40.103C53.6289 37.3986 53.4747 34.076 51.3157 30.9852Z' fill='url(%23paint2_linear_18_18)'/%3E%3Cpath d='M43.759 44.4688C40.0578 39.1758 31.8458 36.5486 25.4072 38.6349L1.3494 46.4778C1.3494 46.4778 21.6675 61.8545 37.4361 58.2614C37.8988 58.1455 38.4 58.0296 38.8241 57.8751C45.2626 55.7888 47.4602 49.7617 43.759 44.4688Z' fill='url(%23paint3_linear_18_18)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_18_18' x1='10.4204' y1='1.33329' x2='58.4641' y2='24.6053' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.118' stop-color='%23BBBDBF'/%3E%3Cstop offset='0.299' stop-color='%23F1F1F2'/%3E%3Cstop offset='1' stop-color='%23D0D2D3'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_18_18' x1='36.7449' y1='12.7449' x2='28.3085' y2='40.8073' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BBBDBF'/%3E%3Cstop offset='0.475' stop-color='%23929497'/%3E%3Cstop offset='1' stop-color='%2358595B'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_18_18' x1='6.91354' y1='24.969' x2='55.4923' y2='57.9232' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2358595B'/%3E%3Cstop offset='0.539' stop-color='%23929497'/%3E%3Cstop offset='1' stop-color='%2358595B'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_18_18' x1='28.8243' y1='28.941' x2='9.1384' y2='100.887' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23808184'/%3E%3Cstop offset='0.475' stop-color='%23404041'/%3E%3Cstop offset='1' stop-color='%23231F20'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
